// @font-face {
//   font-family: 'Siemreap';
//   font-style: normal;
//   font-weight: 400;
//   font-display: block;
//   src: url('./fonts/Khmer\ OS\ Siemreap\ Regular.ttf')
//       format('tff'),

// }

// body {
//  font-family: 'Siemreap';
//  font-weight: 600;
// }

@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');

body {
  font-family: 'Siemreap', cursive;
}

@font-face {
  font-family: 'muol-light';
  src: url('./fonts//Khmer\ OS\ Muol\ Light\ Regular.ttf') format('truetype');
}

.v-table__wrapper thead th,tr {
  font-weight: bold !important;
}

.v-field__input {
  font-weight: 600 !important;
}

.v-selection-control-group  {
  font-weight: 600 !important;
}
